
.mojix-retail-replenishment:before { content: '\e800'; } /* '' */
.mojix-retail-dressing-room:before { content: '\e801'; } /* '' */
.mojix-retail-settings:before { content: '\e802'; } /* '' */
.mojix-retail-alarm:before { content: '\e803'; } /* '' */
.mojix-retail-angle-left:before { content: '\e804'; } /* '' */
.mojix-retail-women-collection:before { content: '\e805'; } /* '' */
.mojix-retail-women-bottoms:before { content: '\e806'; } /* '' */
.mojix-retail-men-knit:before { content: '\e807'; } /* '' */
.mojix-retail-women-tops:before { content: '\e808'; } /* '' */
.mojix-retail-women-dresses:before { content: '\e809'; } /* '' */
.mojix-retail-women-formal:before { content: '\e80a'; } /* '' */
.mojix-retail-women-casual:before { content: '\e80b'; } /* '' */
.mojix-retail-women-lingerie:before { content: '\e80c'; } /* '' */
.mojix-retail-women-accessories:before { content: '\e80d'; } /* '' */
.mojix-retail-search:before { content: '\e80e'; } /* '' */
.mojix-retail-back-arrow:before { content: '\e80f'; } /* '' */
.mojix-retail-next-arrow:before { content: '\e810'; } /* '' */
.mojix-retail-check:before { content: '\e811'; } /* '' */
.mojix-retail-delete:before { content: '\e812'; } /* '' */
.mojix-retail-done:before { content: '\e813'; } /* '' */
.mojix-retail-close:before { content: '\e814'; } /* '' */
.mojix-retail-hot-replenish:before { content: '\e815'; } /* '' */
.mojix-retail-sell-thru:before { content: '\e816'; } /* '' */
.mojix-retail-edit:before { content: '\e817'; } /* '' */
.mojix-retail-men-tops:before { content: '\e818'; } /* '' */
.mojix-retail-men-bottoms:before { content: '\e819'; } /* '' */
.mojix-retail-lock-circle:before { content: '\e81b'; } /* '' */
.mojix-retail-eye:before { content: '\e81c'; } /* '' */
.mojix-retail-men-casual:before { content: '\e81d'; } /* '' */
.mojix-retail-men-pijamas:before { content: '\e81e'; } /* '' */
.mojix-retail-camera:before { content: '\e81f'; } /* '' */
.mojix-retail-sendto:before { content: '\e820'; } /* '' */
.mojix-retail-men-accessories:before { content: '\e821'; } /* '' */
.mojix-retail-men-collection:before { content: '\e822'; } /* '' */
.mojix-retail-kids-boys:before { content: '\e823'; } /* '' */
.mojix-retail-kids-girls:before { content: '\e824'; } /* '' */
.mojix-retail-circle:before { content: '\e825'; } /* '' */
.mojix-retail-logout:before { content: '\e826'; } /* '' */
.mojix-retail-thief:before { content: '\e827'; } /* '' */
.mojix-retail-schoolwear:before { content: '\e828'; } /* '' */
.mojix-retail-mens-nightwear:before { content: '\e829'; } /* '' */
.mojix-retail-formal-tops:before { content: '\e82a'; } /* '' */
.mojix-retail-home-accessories:before { content: '\e82b'; } /* '' */
.mojix-retail-dress-up-access:before { content: '\e82c'; } /* '' */
.mojix-retail-handbags-access:before { content: '\e82d'; } /* '' */
.mojix-retail-gifts-and-toys:before { content: '\e82e'; } /* '' */
.mojix-retail-hosiery:before { content: '\e82f'; } /* '' */
.mojix-retail-ladies-slippers:before { content: '\e830'; } /* '' */
.mojix-retail-maternity:before { content: '\e831'; } /* '' */
.mojix-retail-per-una-sleepwear:before { content: '\e832'; } /* '' */
.mojix-retail-beauty-brands:before { content: '\e833'; } /* '' */
.mojix-retail-body-solutions:before { content: '\e834'; } /* '' */
.mojix-retail-casual-bottoms:before { content: '\e835'; } /* '' */
.mojix-retail-kids-pijamas:before { content: '\e836'; } /* '' */
.mojix-retail-category:before { content: '\e837'; } /* '' */
.mojix-retail-location:before { content: '\e838'; } /* '' */
.mojix-retail-arrow:before { content: '\e839'; } /* '' */
.mojix-retail-wizard:before { content: '\e83a'; } /* '' */
.mojix-retail-kids-accessories:before { content: '\e83b'; } /* '' */
.mojix-retail-kids-school:before { content: '\e83c'; } /* '' */
.mojix-retail-kids-toys:before { content: '\e83d'; } /* '' */
.mojix-retail-home:before { content: '\e83e'; } /* '' */
.mojix-retail-home-furniture:before { content: '\e83f'; } /* '' */
.mojix-retail-other-gifts:before { content: '\e840'; } /* '' */
.mojix-retail-beauty:before { content: '\e841'; } /* '' */
.mojix-retail-all:before { content: '\e842'; } /* '' */
.mojix-retail-rep-oos:before { content: '\e843'; } /* '' */
.mojix-retail-rep-retire:before { content: '\e844'; } /* '' */
.mojix-retail-rep-sellthru:before { content: '\e845'; } /* '' */
.mojix-retail-report-rep-inventory:before { content: '\e846'; } /* '' */
.mojix-retail-list-report:before { content: '\e847'; } /* '' */
.mojix-retail-filter:before { content: '\e848'; } /* '' */
.mojix-retail-expand:before { content: '\e849'; } /* '' */
.mojix-retail-page:before { content: '\e84a'; } /* '' */
.mojix-retail-tools-outline:before { content: '\e84b'; } /* '' */
.mojix-retail-settings-fill:before { content: '\e84c'; } /* '' */
.mojix-retail-settings-outline:before { content: '\e84d'; } /* '' */
.mojix-retail-tasks-fill:before { content: '\e84e'; } /* '' */
.mojix-retail-theft-alert-fill:before { content: '\e84f'; } /* '' */
.mojix-retail-theft-alert-outline:before { content: '\e850'; } /* '' */
.mojix-retail-tools-fill:before { content: '\e851'; } /* '' */
.mojix-retail-reports-outline:before { content: '\e852'; } /* '' */
.mojix-retail-reports-fill:before { content: '\e853'; } /* '' */
.mojix-retail-money-mapping:before { content: '\e854'; } /* '' */
.mojix-retail-report-rep-inventory-outline:before { content: '\e855'; } /* '' */
.mojix-retail-rep-sellthru-outline:before { content: '\e856'; } /* '' */
.mojix-retail-rep-retire-outline:before { content: '\e857'; } /* '' */
.mojix-retail-rep-oos-outline:before { content: '\e858'; } /* '' */
.mojix-retail-invalid-fixture:before { content: '\e859'; } /* '' */
.mojix-retail-list-fixture:before { content: '\e85a'; } /* '' */
.mojix-retail-autograph:before { content: '\e85b'; } /* '' */
.mojix-retail-babywear:before { content: '\e85c'; } /* '' */
.mojix-retail-bathrooms:before { content: '\e85d'; } /* '' */
.mojix-retail-bedding:before { content: '\e85e'; } /* '' */
.mojix-retail-location-1:before { content: '\e85f'; } /* '' */
.mojix-retail-bob-twiggy:before { content: '\e860'; } /* '' */
.mojix-retail-boyswear:before { content: '\e861'; } /* '' */
.mojix-retail-bras:before { content: '\e862'; } /* '' */
.mojix-retail-classics:before { content: '\e863'; } /* '' */
.mojix-retail-collection:before { content: '\e864'; } /* '' */
.mojix-retail-dresses:before { content: '\e865'; } /* '' */
.mojix-retail-footwear-slipprs:before { content: '\e866'; } /* '' */
.mojix-retail-girlswear:before { content: '\e867'; } /* '' */
.mojix-retail-cosmetics-skincare:before { content: '\e868'; } /* '' */
.mojix-retail-holiday:before { content: '\e869'; } /* '' */
.mojix-retail-household-electricals:before { content: '\e86a'; } /* '' */
.mojix-retail-find-epc:before { content: '\e86b'; } /* '' */
.mojix-retail-jewellery:before { content: '\e86c'; } /* '' */
.mojix-retail-kids-footwear:before { content: '\e86d'; } /* '' */
.mojix-retail-kids-hosiery:before { content: '\e86e'; } /* '' */
.mojix-retail-kids-nightwear:before { content: '\e86f'; } /* '' */
.mojix-retail-kids-underwear:before { content: '\e870'; } /* '' */
.mojix-retail-knickers-vests:before { content: '\e871'; } /* '' */
.mojix-retail-knitwear:before { content: '\e872'; } /* '' */
.mojix-retail-ladies-suits-and-jackets:before { content: '\e873'; } /* '' */
.mojix-retail-leisurewear:before { content: '\e874'; } /* '' */
.mojix-retail-lighting:before { content: '\e875'; } /* '' */
.mojix-retail-limited-collection:before { content: '\e876'; } /* '' */
.mojix-retail-luggage:before { content: '\e877'; } /* '' */
.mojix-retail-mens-accessories:before { content: '\e878'; } /* '' */
.mojix-retail-mens-casual-shirts:before { content: '\e879'; } /* '' */
.mojix-retail-mens-footwear-slippers:before { content: '\e87a'; } /* '' */
.mojix-retail-mens-formal-shirts:before { content: '\e87b'; } /* '' */
.mojix-retail-mens-jackets:before { content: '\e87c'; } /* '' */
.mojix-retail-mens-knitwear:before { content: '\e87d'; } /* '' */
.mojix-retail-mens-leisurewear:before { content: '\e87e'; } /* '' */
.mojix-retail-women-knit:before { content: '\e87f'; } /* '' */
.mojix-retail-mens-outerwear:before { content: '\e880'; } /* '' */
.mojix-retail-mens-socks:before { content: '\e881'; } /* '' */
.mojix-retail-mens-suits:before { content: '\e882'; } /* '' */
.mojix-retail-mens-ties-formal-accessories:before { content: '\e883'; } /* '' */
.mojix-retail-mens-trousers:before { content: '\e884'; } /* '' */
.mojix-retail-mens-underwear:before { content: '\e885'; } /* '' */
.mojix-retail-outerwear:before { content: '\e886'; } /* '' */
.mojix-retail-per-una-womenswear:before { content: '\e887'; } /* '' */
.mojix-retail-petite-plus:before { content: '\e888'; } /* '' */
.mojix-retail-tasks-outline:before { content: '\e889'; } /* '' */
.mojix-retail-sleepwear:before { content: '\e88a'; } /* '' */
.mojix-retail-soft-furnishing:before { content: '\e88b'; } /* '' */
.mojix-retail-take-home-furniture:before { content: '\e88c'; } /* '' */
.mojix-retail-toddler-boys:before { content: '\e88d'; } /* '' */
.mojix-retail-toddler-girls:before { content: '\e88e'; } /* '' */
.mojix-retail-tops:before { content: '\e88f'; } /* '' */
.mojix-retail-trousers-skirts:before { content: '\e890'; } /* '' */
.mojix-retail-area:before { content: '\e894'; } /* '' */
.mojix-retail-city-select:before { content: '\e896'; } /* '' */
.mojix-retail-scanned-tag:before { content: '\e897'; } /* '' */
.mojix-retail-section:before { content: '\e898'; } /* '' */
.mojix-retail-shop:before { content: '\e899'; } /* '' */
.mojix-retail-space:before { content: '\e89a'; } /* '' */
.mojix-retail-square-empty:before { content: '\e89b'; } /* '' */
.mojix-retail-square-fill:before { content: '\e89c'; } /* '' */
.mojix-retail-scan-fixture:before { content: '\e89d'; } /* '' */
.mojix-retail-ip-address:before { content: '\e89e'; } /* '' */
.mojix-retail-mcon-setup:before { content: '\e89f'; } /* '' */
.mojix-retail-train-system:before { content: '\e8a0'; } /* '' */
.mojix-retail-find-it:before { content: '\e8a3'; } /* '' */
.mojix-retail-scan-epc:before { content: '\e8a4'; } /* '' */
.mojix-retail-bar-code:before { content: '\e8a5'; } /* '' */
.mojix-retail-server-on:before { content: '\e8d6'; } /* '' */
.mojix-retail-server-off:before { content: '\e8d7'; } /* '' */
.mojix-retail-success:before { content: '\e9a8'; } /* '' */
.mojix-retail-angle-right:before { content: '\f105'; } /* '' */
.mojix-retail-angle-up:before { content: '\f106'; } /* '' */
.mojix-retail-angle-down:before { content: '\f107'; } /* '' */